/* 

.name, .role, p {
    margin:0;
    padding: 0;
    padding-right:50px;
    width:100%;
    font-size: clamp(.5rem, .85rem + 1vw, 2rem);
    grid-column: 2 / 3;
    align-self:center;
    color: var(--clr-super-light);
} 
660px
*/

main {
    display: flex;
    height: 90vh;
    flex-direction: column;
    align-items:flex-end;
    overflow-y: scroll;
}

.container {
    width: 70vw;
    max-width: 1000px;
    padding-bottom: 5px;
    height: 81vh;
    margin: 9vh auto 0;
    overflow: scroll;
}

.avatar {
    width: 30%;
    padding-top:30%;
    margin-top: 2%;
    background:url("../avatar.png") center / cover;
    float: right;
}

.name, .role, p {
    margin:0;
    padding: 0;
    width:100%;
    font-size: clamp(.5rem, .85rem + .6vw, 2rem);
    color: var(--clr-super-light);
} 

.name {
    font-size: clamp(1.5rem, 2.3rem + 1vw, 3rem);
    color: var(--clr-egg);
}

.role {
    font-size: clamp(1.1rem, 1.2rem + 1vw, 2.2rem);
    /* font-size:1.6rem; */
    color: var(--clr-egg);
}

p {
    margin-top:1.2rem;
}

@media screen and (min-width:660px) {
    .avatar {
        width: 28%;
        height: 100%;
        margin: 0;
        margin-right: 2%;
        background:no-repeat url("../avatar.png") center / 88%;
        float: left;
    }
    .right-col-top {
        width: 70%;
        height: 20%;
        float: right;
    }
    .right-col-bot {
        width: 70%;
        height: 80%;
        float: right;
        margin-top:4%;
    }
}
