.form-fill {
    display: flex;
    flex-flow: column;
    justify-content:center;
    align-items: center;

}

.contact-form{
    display: flex;
    justify-content: space-evenly;
    position:relative;
}

.left-form, .right-contact {
    width: 60%;
    padding-top:20px;
}

.right-contact {
    display:flex;
    flex-direction: column;
    width: 38%;
    justify-content: center;
}

.left-form::after {
    content: "";
    height: 70%;
    position: absolute;
    top: 5rem;
    left: 60%;
    border-right: 1.5px dashed var(--clr-super-light);
}

.social-media-wrap {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.social-icons {
    font-size: 2.5rem;
    margin-top: 20px;
}

.footer-logo{
    margin-top: 20px;
    font-size: .75rem;
}

.social-logo {
    font-size: .75rem;
    text-decoration: none;
    color: var(--clr-egg);
}

.social-icon-link {
    padding: 8px;
    color: var(--clr-super-light);
}

.website-rights {
    margin-top: 10px;
    font-size: .7rem;
}

label {
    width: 90%;
    max-width:530px;
}

label > * {
    display: block;
    width:100%;
    padding: 16px;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--clr-egg);
    margin-top: 4px;
    border-radius: 2px;
    color: black;
    background: var(--clr-egg);
    opacity: .7;
    font-size: 1rem;
}

input:focus::placeholder,textarea:focus::placeholder {
    visibility: hidden;
}

::placeholder {
    font-family: 'Monda', sans-serif;
    font-size: 1rem;
    color: rgb(100,100,100);
}

.button, .contact-role {
    padding: 0px;
    text-align: center;
}

.contact-role{
    text-align: center;
}

button {
    width: 90%;
    max-width:530px;
    font-family: 'Monda', sans-serif;
    background: var(--clr-super-light);
    border: none;
    border-radius: 2px;
    font-weight: var(--fw-bold);
    padding: 8px;
    margin-top: 10px;
    text-transform: uppercase;
    color: var(--clr-black);
    opacity: .7;
    font-size: 1rem;
    transition: all .3s linear;
}

button:hover {
    box-shadow: 0 3px 10px rgba(255, 226, 183, 0.4);
    -webkit-filter: drop-shadow(0 3px 10px rgba(255, 226, 183, 0.017));
    filter: drop-shadow(0 3px 10px rgba(255, 226, 183, 0.017));
}

.left-form > h3 {
    text-align: center;
    padding: 0;
}

@media screen and (max-width: 660px) {
    .contact-form{
        flex-direction: column;
    }

    .left-form, .right-contact {
        width: 80%;
        margin: auto;
        padding-top:10px;
    }

    .left-form::after {
        content: "";
        height: 0;
        width: 0;
        border: 0;
    }

    .social-icons, .footer-logo {
        margin-top: 10px;
    }
}
