*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --clr-primary: #9B5C6B;
    --clr-egg: #ffe2b7;
    --clr-black: #000;
    --clr-light: #bebebe;
    --fw-normal: 400;
    --fw-bold: 700;
    --fw-black: 900;
    --grid: 
    minmax(1em, 10%) 
    minmax(10rem, 22ch) 
    minmax(10rem, 23ch) 
    minmax(1em, 3fr)
    max-content ;
}

html {
    height: 100%;
}

body {
    margin: 0;
    min-height: 100%;
    background: var(--clr-primary);
    font-family: monda;
    font-size: 62.5%;
    overflow:hidden;
}